<div class="custom-tab-group">
  <h2
    class="custom-tab-label px-6 py-5 border-2 border-[#C5C4C4] rounded-lg font-semibold text-lg xl:text-xl cursor-pointer"
    [class.active]="selectedTab === 0"
    (click)="selectTab(0)">
    Personal Information
  </h2>
  <h2
    class="custom-tab-label px-6 py-5 my-4 border-2 border-[#C5C4C4] rounded-lg font-semibold text-lg xl:text-xl cursor-pointer"
    [class.active]="selectedTab === 1"
    (click)="selectTab(1)">
    Total Orders
  </h2>
  <h2
    class="custom-tab-label px-6 py-5 my-4 border-2 border-[#C5C4C4] rounded-lg font-semibold text-lg xl:text-xl cursor-pointer"
    [class.active]="selectedTab === 2"
    (click)="selectTab(2)">
    Password Manager
  </h2>
  <h2
    class="custom-tab-label px-6 py-5 border-2 border-[#C5C4C4] rounded-lg font-semibold text-lg xl:text-xl cursor-pointer"
    [class.active]="selectedTab === 3"
    (click)="selectTab(3)">
    Logout
  </h2>
</div>
