<div class="grid grid-cols-12 md:gap-x-6 xl:gap-x-6 gap-y-8 lg-px-24 px-10 mt-16">
  <!-- Payment Section (8 columns) -->

  <div class="payment col-span-12 lg:col-span-7 space-y-8">
    <div class="space-y-6">
      <h2 class="text-xl font-bold">Select Payment Method</h2>

      <!-- Cash -->
      <div class="border-[#C5C4C4] p-2 border-2 rounded-lg flex items-center gap-2">
        <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="cash" />
        <i class="fa-solid fa-money-bills text-[#1B8057]"></i>
        <span class="text-lg sm:font-semibold font-medium">Cash on Delivery</span>
      </div>

      <!-- Visa -->
      <div class="border-[#C5C4C4] p-2 border-2 rounded-lg flex items-center gap-2">
        <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="visa" />
        <i class="fa-brands fa-cc-visa text-[#1B8057]"></i><span
          class="text-lg sm:font-semibold font-medium">VISA</span>
      </div>
      <div
        class="border-[#C5C4C4] rounded-lg px-2 border-2 items-center space-y-4 overflow-hidden transition-all duration-500 ease-in-out pt-2"
        [ngClass]="{
          'h-12': selectedPayment !== 'card',
          'h-auto': selectedPayment === 'card',
        }">
        <div class="flex items-center gap-2 h-10 cursor-pointer" (click)="selectedPayment = 'card'">
          <input type="radio" name="payment" [(ngModel)]="selectedPayment" value="card" />
          <i class="fa-solid fa-credit-card text-[#1B8057]"></i><span
            class="flex items-center gap-2 text-lg sm:font-semibold font-medium">
            Add credit/debit card
          </span>
        </div>

        <div *ngIf="selectedPayment === 'card'" class="space-y-7 md:px-20">
          <!-- Card Holder -->
          <div class="relative">
            <input type="text" id="FirstName"
              class="peer w-full p-3 rounded-md border-[#135C3E] border-2 focus:border-[#135C3E] focus:outline-none placeholder-transparent"
              placeholder="FirstName" autocomplete="off" [(ngModel)]="firstName" name="firstName"
              #firstNameModel="ngModel" required />
            <label for="FirstName"
              class="absolute left-3 top-3 text-gray-500 peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-[-10px] peer-focus:text-sm not-peer-placeholder-shown:top-[-10px] not-peer-placeholder-shown:text-sm bg-[#F5F8F5] px-1 transition-all duration-300 ease-in-out">Full
              Name</label>
            <div class="min-h-[5px] text-sm text-[#a40f0f] pl-1">
              <ng-container *ngIf="firstNameModel.invalid && firstNameModel.touched">
                <i class="fa-solid fa-circle-exclamation pr-2"></i>Required
                field
              </ng-container>
            </div>
          </div>

          <!-- Card Number -->
          <div class="relative">
            <input id="card-number" type="number" placeholder="Card Number"
              class="peer w-full border-2 rounded-lg h-12 p-3 border-[#135C3E] focus:outline-none focus:border-[#135C3E] placeholder-transparent"
              autocomplete="off" [(ngModel)]="cardNumber" name="cardNumber" #cardNumberModel="ngModel" required />
            <label for="card-number"
              class="absolute left-3 top-3 text-gray-500 peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-[-10px] peer-focus:text-sm not-peer-placeholder-shown:top-[-10px] not-peer-placeholder-shown:text-sm not-peer-placeholder-shown:text-[#365D1C] bg-[#F5F8F5] px-1 transition-all duration-300 ease-in-out">
              Card Number
            </label>
            <div class="min-h-[5px] text-sm text-[#a40f0f] pl-1">
              <ng-container *ngIf="cardNumberModel.invalid && cardNumberModel.touched">
                <i class="fa-solid fa-circle-exclamation pr-2"></i>Required
                field
              </ng-container>
            </div>
          </div>

          <!-- Expiry Date & CVV -->
          <div class="sm:flex sm:flex-row sm:gap-4 gap-7 flex flex-col">
            <!-- Expiry Date -->
            <div class="relative sm:flex-1">
              <input id="expiry-date" type="date"
                class="peer w-full border-2 rounded-lg h-12 p-3 border-[#135C3E] focus:outline-none focus:border-[#135C3E] placeholder-transparent"
                autocomplete="off" [(ngModel)]="expiryDate" name="expiryDate" #expiryDateModel="ngModel" required />
              <label for="expiry-date"
                class="absolute left-3 top-3 text-gray-500 peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-[-10px] peer-focus:text-sm not-peer-placeholder-shown:top-[-10px] not-peer-placeholder-shown:text-sm bg-[#F5F8F5] px-1 transition-all duration-300 ease-in-out">
                Expiry Date
              </label>
              <div class="min-h-[5px] text-sm text-[#a40f0f] pl-1">
                <ng-container *ngIf="expiryDateModel.invalid && expiryDateModel.touched">
                  <i class="fa-solid fa-circle-exclamation pr-2"></i>Required
                  field
                </ng-container>
              </div>
            </div>

            <!-- CVV -->
            <div class="relative flex-1">
              <input id="cvv" type="number" placeholder="CVV"
                class="peer w-full border-2 rounded-lg h-12 p-3 border-[#135C3E] focus:outline-none focus:border-[#135C3E] placeholder-transparent"
                autocomplete="off" [(ngModel)]="cvv" name="cvv" #cvvModel="ngModel" required />
              <label for="cvv"
                class="absolute left-3 top-3 text-gray-500 peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-focus:top-[-10px] peer-focus:text-sm peer-focus:text-[# text-gray-500] not-peer-placeholder-shown:top-[-10px] not-peer-placeholder-shown:text-sm not-peer-placeholder-shown:text-[#365D1C] bg-[#F5F8F5] px-1 transition-all duration-300 ease-in-out">
                CVV
              </label>
              <div class="min-h-[5px] text-sm text-[#a40f0f] pl-1">
                <ng-container *ngIf="cvvModel.invalid && cvvModel.touched">
                  <i class="fa-solid fa-circle-exclamation pr-2"></i><span>Required field</span>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="flex items-center gap-2">
            <input type="checkbox" id="check" class="w-5 h-5" />
            <label for="check" class="text-sm font-normal">
              Save Card for Future Payment
            </label>
          </div>

          <!-- Add Card Button -->
          <button
            class="mb-2 md:mt-4 text-white py-2 md:w-1/4 w-1/2 bg-[#1B8057] rounded-md hover:bg-green-700 transition text-center"
            [disabled]="
              !firstNameModel.valid ||
              !cardNumberModel.valid ||
              !expiryDateModel.valid ||
              !cvvModel.valid
            ">
            Add Card
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-1"></div>
  <!-- Credit/Debit Card -->

  <!-- Order Summary Section (4 columns) -->
  <div class="order-summary col-span-12 lg:col-span-4">
    <app-order-summary></app-order-summary>
    <button (click)="proceedToStripe()" class="cursor-pointer bg-emerald-900 text-white p-3">Checkout</button>
  </div>
</div>