<div class="password-information">
  <form [formGroup]="passwordInformation">
    <div class="password relative" *ngIf="!isGoogleAuthUser">
      <label class="block font-semibold">Password*</label>
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Enter your Password"
        class="w-full border-2 border-[#1B8057] px-2 py-4 mt-4 rounded-lg outline-0 disabled:opacity-50 disabled:border-gray-400 disabled:bg-gray-100" />
      @if (isFieldInvalid('password')) {
      <div class="text-red-500">Password is required !</div>
      }
      <span (click)="togglePasswordVisibility('password')"
        class="absolute right-3 cursor-pointer text-[#1B8057] text-lg"
        [ngClass]="isFieldInvalid('password') ? 'bottom-10' : 'bottom-4'">
        <i [ngClass]="showPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
      </span>
    </div>
    <div class="new-password my-6 relative">
      <label class="block font-semibold">New Password*</label>
      <input [type]="showNewPassword ? 'text' : 'password'" formControlName="newPassword"
        placeholder="Enter your New Password"
        class="w-full border-2 border-[#1B8057] px-2 py-4 mt-4 rounded-lg outline-0 disabled:opacity-50 disabled:border-gray-400 disabled:bg-gray-100" />
      @if (isFieldInvalid('newPassword')) {
      @if (passwordInformation.controls['newPassword'].errors?.['required']) {
      <div class="text-red-500">New Password is required !</div>
      }
      @if (passwordInformation.controls['newPassword'].errors?.['minlength']) {
      <div class="text-red-500">Password must be at least 8 characters long.</div>
      }
      @if (passwordInformation.controls['newPassword'].errors?.['pattern']) {
      <div class="text-red-500">
        Password must contain at least one uppercase letter, one lowercase letter, one number, and one special
        character.
      </div>
      }
      }
      <span (click)="togglePasswordVisibility('newPassword')"
        class="absolute right-3 bottom-4 cursor-pointer text-[#1B8057] text-lg"
        [ngClass]="isFieldInvalid('newPassword') ? 'bottom-10' : 'bottom-4'">
        <i [ngClass]="showNewPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
      </span>
    </div>
    <div class="confirm-password relative">
      <label class="block font-semibold">Confirm New Password*</label>
      <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword"
        placeholder="Enter your Confirm Password"
        class="w-full border-2 border-[#1B8057] px-2 py-4 mt-4 rounded-lg outline-0 disabled:opacity-50 disabled:border-gray-400 disabled:bg-gray-100" />
      @if (isFieldInvalid('confirmPassword')) {
      @if (passwordInformation.controls['confirmPassword'].errors?.['required']) {
      <div class="text-red-500">Confirm New Password is required !</div>
      }
      @if (passwordInformation.controls['confirmPassword'].errors?.['mismatch']) {
      <div class="text-red-500">New password and confirm password do not match.</div>
      }
      }
      <span (click)="togglePasswordVisibility('confirmPassword')"
        class="absolute right-3 bottom-4 cursor-pointer text-[#1B8057] text-lg" [ngClass]="
          isFieldInvalid('confirmPassword') ? 'bottom-10' : 'bottom-4'
        ">
        <i [ngClass]="
            showConfirmPassword ? 'fas fa-eye' : 'fas fa-eye-slash'
          "></i>
      </span>
    </div>
    <div class="md:text-left text-center mt-8">
      <button type="submit" [disabled]="isPasswordUpdated" [ngClass]="{
          'cursor-not-allowed opacity-50': isPasswordUpdated,
          'hover:bg-[#307055] cursor-pointer': !isPasswordUpdated,
        }" (click)="submitForm()"
        class="bg-[#1B8057] text-white font-bold text-xl md:p-4 px-8 py-4 cursor-pointer rounded-lg hover:bg-[#307055]">
        Update Password
      </button>
    </div>
  </form>
</div>